body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
  }
  
  li {
    float: right;
    margin-right: 10px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:blueviolet;
  }

#head {
    background-color: red;
    display: block;
    top: 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
}

#section {
    margin-top: 50px;
    text-align: center;
    height: 100%;
    padding: 100px;
    background-color: #000000;
    color: white;
}